<div id="character" class="col-md-3 mx-auto">
    <div class="card mx-auto" style="width: 18rem;">
        <img src="{{img}}" class="card-img-top" alt="img/bojack.jpg"></img>
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <ul>
                <li>Strength: {{strength}}</li>
                <li>Stamina: {{stamina}}</li>
            </ul>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Puntata</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></input>
            </div>
        </div>
    </div>
</div>